.contact-form{
    position: absolute;
    width: max-content;
    height: min-content;
    box-shadow: 5px 5px 30px #3f4040;
    margin-top: 25px;
    margin-left: 70px;
    padding: 30px;
}

.contact-form input{
    height: 35px;
    width: 500px;
    margin-right: 75px;
}

/* .contact-form input[name="contact-input-mobile"],.contact-form input[name="contact-input-landLine"]{
    display: inline-block;
    background-color: blue;
} */

.contact-form-buttons{
    float: right;
    margin-top: 5px;
}

.form-action-button{
    background-color: #468d01;
    margin-right: 5px;
}

.form-cancel-button{
    background-color: red;
}